body{
    font-family: arial;
    text-align: center;
    background: url("images/mario-bg.jpg");
    background-size: cover;
}

#board{
    width: 540px;
    height: 540px;
    background: url("images/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

#board div{
    width: 180px;
    height: 180px;
    background-image: url("images/pipe.png");
    background-size: cover;
}

#board div img{
    /*all img tags inside the tile div tags*/
    width: 100px;
    height: 100px;

}